html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(24,23,67);
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App > * {
  margin-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

.App > *:not(:first-child) {
  margin-top: 60px;
}

.App__me {
  position: absolute;
  top: calc(70vh - 2em - 110px);
  display: flex;
  align-items: center;
}

.App__me img {
  width: 160px;
}