.CallToAction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.CallToAction > * {
  border: 4px solid rgb(24,23,67);
  padding:10px;
  background:white;
  font-weight: 700;
  line-height:1.5em;
  font-size: 1.5em;
  outline:0;
  flex-shrink: 1;
  flex-basis: 350px;
  margin-right: 40px;
  border-radius: 4px;
}

.CallToAction__submit {
  background-color: #282A64;
  border: 0;
  line-height: 2em;
  box-shadow: inset 0 -8px rgb(24,23,67);
  color:white;
  z-index: 2;
}

.CallToAction__submit:hover {
  box-shadow: inset 0 8px #fff;
  cursor: pointer;
  margin-top: 0.01em;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}

.CallToAction__afterSubmit {
  margin-top: 40px;
}

@media all and (max-width:990px) {
  .CallToAction {
    flex-direction: column;
    justify-content: center;
  }

  .CallToAction > * {
    flex-basis: 2.5em;
    margin-bottom: 10px;
  }
}