.Hero {
  background: linear-gradient(110deg, #2376ae 0%, rgb(24,23,67) 50%);
  height: 70vh;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width:800px) {
  .Hero {
    padding-top: 10px;
    flex-direction: column;
    height: 100vh;
  }

  .Hero__picture img {
    width: 200px;
    height: 150px;
  }
}

.Hero__picture img {
  width: 400px;
  height: 300px;
  transition: transform .5s;
  cursor:zoom-in;
}

.Hero__picture img:hover {
  transform: translateY(-20px) rotate(10deg) scale(2);
}
