html, body {
    height:100%;
}

body {
    font-family:monospace;
    background-color:#1a2532;
    color:#e6e7cf;
    font-size:13px;
}
div.main {
    position:relative;
    width:530px;
    margin:0 auto;
    top:30px;
}
a, a:link, a:visited, a:hover, a:active {
    color:#7690fd;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.green {
    color:#649a64;
}
.purple {
    color:#c34b94;
}
.purple_light {
    color:#a9668f;
}
.divider {
    color:#b9438b;
    display:block;
    margin:10px 0px 10px 0px;
}
.header {
    display:block;
    margin:10px 0px 10px 0px;
}
.frost {
    color:#b0cfe1;
}
.bright {
    color:#f4f5e2;
}
.pounds {
    letter-spacing:-1px;
}

.tw, .tw a {color:#7DB1D3;}
.fb, .fb a {color:#6D89FE;}
.in, .in a {color:#2178B0;}
.vm, .vm a {color:#2F4860;}
.me, .me a {color:#000;}
.gh, .gh a {color:#E2E3C9;}

.profile-pic {
    display: block;
    border-radius: 50%;
    border: 3px solid rgba(242, 241, 242, 0.6);
    width: 100%;
    height: 100%;
}