.Benefits > *:not(:last-child) {
  margin-bottom: 40px;
}

.Benefits__block {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.Benefits__title {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #133c99;
}

.Benefits__details {
  font-size: 1.2em;

}