/* Flex Wrapper */
.Header {
  background-color: rgb(24,23,67);
  height: 500px;
  padding: 50px; /* mixin wrapper padding */
  color: #eff5fe;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

/* Flex Item -> Flex Wrapper */
.Header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header-text__main {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.2px;
}

.Header-text__meta {
  font-size: 1.5em;
}

/* Flex Item */
.Header-picture > img {
  width: 400px;
  height: 300px;
}