.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header__main {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.2px;
}

.Header__meta {
  font-size: 1.5em;
}

.Header--white {
  color: #eff5fe;
}

.Header--white > .Header__meta {
  color: rgb(222,232,253);
}

.Header--dark {
  color: rgb(24,23,67);
}

.Header--dark > .Header__meta {
  color: #4C4D72;
}