.Testimonial {
  background-color: rgba(0,0,0,0.1);
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

@media all and (max-width:500px) {
  .Testimonial {
    flex-direction: column;
  }
}

.Testimonial-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
}

.Testimonial-picture > img {
  width: 120px;
  height: 120px;
  border: 10px solid #eee;
  border-radius: 99px;
}

.Testimonial-content {
  font-size: 1.2em;
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

.Testimonial-content__text {
  justify-content: space-between;
}

.Testimonial-content__meta {
  margin-top: 15px;
}